<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwixWix</title>
</head>
<body>
    <video width="320" height="240" controls src="{{player}}">
    
Your browser does not support the video tag.
</video>
<h1>If it doesn`t work refresh the page</h1>
</div>

</body>
</html>